.root{
    -fx-background-color: "green";
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
    -fx-text-alignment: center;
    /* -fx-text-fill: "white"; */
}

#fxHeader{
    -fx-background-color: #FFF176;
    -fx-font-size: 30;
    -fx-alignment: center;
    -fx-text-alignment: center;
}


#fxStig {
}



/* Mute Button */

#fxMute {
    -fx-alignment: left;
    -fx-font-size: 10;
    -fx-max-width: 100;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

#fxMute:selected {
    -fx-text-fill: black;
    -fx-background-color: red;
}
