
#AnchorPaneTop{
    -fx-background-color: #FFF176;
}

#fxHeader{
    -fx-font-family: "Lucida Console";
    -fx-text-fill: black;
    -fx-background-color: #FFF176;
    -fx-font-size: 30;
    -fx-text-alignment: center;
}

#AnchorPaneBottom{
    -fx-background-color: #FFF176;
}


#fxStig {
    -fx-font-family: "Lucida Console";
    -fx-text-fill: black;
    -fx-background-color: #FFF176;
    -fx-font-size: 30;
}

#fxLeikbord {
    -fx-background-color: green;
}

/*

-fx-background-image: url("../myndir/bubbles.png");
-fx-background-repeat: repeat-y;
-fx-animation: move-background 10s linear infinite;

@keyframes move-background {
    0% {
        -fx-background-position: 0 0;
    }
    100% {
        -fx-background-position: 0 200px;
    }
} */

/* Mute Button */


#fxMute {
    -fx-font-family: "Lucida Console";
    -fx-font-size: 10;
    -fx-max-width: 150;
    -fx-max-height: 100;
    -fx-text-fill: black;
}

/*#fxMute:selected {
    -fx-text-fill: black;
    -fx-background-color: red;
} */
